**/.DS_Store
.vscode/
.vscode/settings.json
build/control_bar.o
build/file.o
build/img_handler.o
build/main.o
build/new_window.o
build/windows.o
build/external/dither/dither.o
build/external/qdbmp/qdbmp.o
build/external/rgb2lab/rgb2lab.o
build/external/tgafunc/tgafunc.o
build/external/zview/zview_color.o
build/img_bmp/img_bmp.o
build/img_dummy/img_dummy.o
build/img_gif/img_gif.o
build/img_heif/img_heif.o
build/img_jpeg/img_jpeg.o
build/img_pdf/img_pdf.o
build/img_pi/img_pi.o
build/img_png/img_png.o
build/img_svg/img_svg.o
build/img_tga/img_tga.o
build/img_tiff/img_tiff.o
build/img_webp/img_webp.o
build/png_ico/png_ico.o
build/rsc_processing/diag.o
build/thumbs/thumbs.o
build/utils/utils.o
build/utils_gfx/color.o
build/utils_gfx/crop.o
build/utils_gfx/pix_convert.o
build/utils_gfx/planar.o
build/utils_gfx/ttf.o
build/utils_rsc/forms.o
build/utils_rsc/progress.o
build/utils_rsc/winform.o
bin/mm_pic.prg
build/vid_flic/vid_flic.o
build/vid_flic/vid_flic.o
build/external/flic/stdio.o
build/external/flic/encoder.o
build/external/flic/decoder.o
build/external/flic/decoder.o
build/external/flic/encoder.o
build/external/flic/stdio.o
build/external/flic/decoder.o
build/external/flic/encoder.o
build/external/flic/stdio.o
build/vid_flic/vid_flic.o
bin/mm_pic_020.tar.gz
bin/mm_pic_020.tar.gz
bin/mm_piccf.prg
bin/mm_pic_cf.tar.gz
img_webp/webmux.czz
build/utils/dragdrop.o
build/img_psd/img_psd.o
temp/cmyk_to_rgb.cpp
temp/img_psd copy.cxx
temp/img_psd copy.czz
temp/psdreader.c
temp/psdreader.h
temp/img_psd copy/img_psd.cxx
temp/img_psd copy/img_psd.hxx
.vscode/settings.json
.vscode/settings.json
build/temp/cmyk_to_rgb.o
.vscode/settings.json
.vscode/settings.json
bin/mm_pic_68k.prg
bin/mm_pic_68k.tar.gz
bin/fonts/emmasoph.ttf
temp/ffmpeg_misc.txt
build/vid_ffmpeg/vid_ffmpeg.o
bin/mm_pic_CF_ffmpeg.tar.xz
bin/mm_pic_020_ffmpeg.tar.xz
